AccesoDatos/Connected Services/ServicioMercadeo/Mercadeo3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mptucasadelujo.marketingpersonal.com:8091/Servicios/Mercadeo.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Entidades" />
  <xs:import schemaLocation="http://mptucasadelujo.marketingpersonal.com:8091/Servicios/Mercadeo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Base" />
  <xs:complexType name="RealityCrucero">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Base" base="q1:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Entidades" minOccurs="0" name="Request" nillable="true" type="q2:RealityCruceroConsulta" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RealityCrucero" nillable="true" type="tns:RealityCrucero" />
  <xs:complexType name="PuntajeAsesora">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Base" base="q3:Request">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Entidades" minOccurs="0" name="Request" nillable="true" type="q4:PuntajeAsesora" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PuntajeAsesora" nillable="true" type="tns:PuntajeAsesora" />
</xs:schema>