AccesoDatos/Connected Services/ServicioMercadeo/Mercadeo5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mptucasadelujo.marketingpersonal.com:8091/Servicios/Mercadeo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Negocio" />
  <xs:import schemaLocation="http://mptucasadelujo.marketingpersonal.com:8091/Servicios/Mercadeo.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Responses.Negocio" />
  <xs:element name="ConsultarRealityCrucero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Negocio" minOccurs="0" name="request" nillable="true" type="q1:RealityCrucero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRealityCruceroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Responses.Negocio" minOccurs="0" name="ConsultarRealityCruceroResult" nillable="true" type="q2:RealityCrucero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPuntajeAsesora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Requests.Negocio" minOccurs="0" name="request" nillable="true" type="q3:PuntajeAsesora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPuntajeAsesoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWebAD.Services.Responses.Negocio" minOccurs="0" name="ConsultarPuntajeAsesoraResult" nillable="true" type="q4:PuntajeAsesora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>