ConsursoWeb/Connected Services/ServiciosUsuarioa/Usuarios5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Negocio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Negocio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mptucasadelujo.marketingpersonal.com:8090/Servicios/Usuarios.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" />
  <xs:import schemaLocation="http://mptucasadelujo.marketingpersonal.com:8090/Servicios/Usuarios.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" />
  <xs:complexType name="Usuario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q1:Response">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="HabeasData" nillable="true" type="q2:UsuarioHabeasData" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="InfoUsuario" nillable="true" type="q3:Usuario" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="Informes" nillable="true" type="q4:ArrayOfInforme" />
          <xs:element minOccurs="0" name="SesionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="HabeasData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q5:Response">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="RespHabeasData" nillable="true" type="q6:UsuarioHabeasData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HabeasData" nillable="true" type="tns:HabeasData" />
  <xs:complexType name="UsuarioAD">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q7:Response">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="InfoUsuarioAD" nillable="true" type="q8:UsuarioAD" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="InfoUsuarioADGZ" nillable="true" type="q9:UsuarioAD" />
          <xs:element minOccurs="0" name="SesionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsuarioAD" nillable="true" type="tns:UsuarioAD" />
  <xs:complexType name="NotificacionGZ">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q10:Response">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="Notificacion" nillable="true" type="q11:NotificacionGZ" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotificacionGZ" nillable="true" type="tns:NotificacionGZ" />
  <xs:complexType name="CrecimientoAsesora">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q12:Response">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="CrecimientoAsesoraRes" nillable="true" type="q13:ArrayOfCrecimientoAsesora" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CrecimientoAsesora" nillable="true" type="tns:CrecimientoAsesora" />
  <xs:complexType name="PendientesAprobacion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q14:Response">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="PendientesAprobacionRes" nillable="true" type="q15:ArrayOfUsuarioAD" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PendientesAprobacion" nillable="true" type="tns:PendientesAprobacion" />
  <xs:complexType name="seguimientoPedido">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q16:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Campana" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FechaFinalRealCampaña" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="diasDeEntraga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="existeSeguimientoPedido" type="xs:boolean" />
          <xs:element minOccurs="0" name="fechaDeEntraga" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaDefactura" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tienePedidoFechaSeguimiento" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="seguimientoPedido" nillable="true" type="tns:seguimientoPedido" />
  <xs:complexType name="BloqueoActualizacionDatos">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q17:Response">
        <xs:sequence>
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="BloqueoActualizacion" nillable="true" type="q18:BloqueoActualizacionDatos" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BloqueoActualizacionDatos" nillable="true" type="tns:BloqueoActualizacionDatos" />
  <xs:complexType name="VigenciaCampana">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q19:Response">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="FechasLimite" nillable="true" type="q20:VigenciaCampana" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VigenciaCampana" nillable="true" type="tns:VigenciaCampana" />
  <xs:complexType name="UsuarioConcursoMercadeo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Responses.Base" base="q21:Response">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MarketingPersonal.PedidosWeb.Services.Entidades" minOccurs="0" name="InfoUsuarioConcursoMercadeo" nillable="true" type="q22:UsuarioLoginConcursoMercadeo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsuarioConcursoMercadeo" nillable="true" type="tns:UsuarioConcursoMercadeo" />
</xs:schema>